html,
body {
  padding: 0;
  margin: 0 auto;
  background: #eaeaea;
  max-width: calc(100% - var(--actions-width, 100px));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #000;
}

p,
dl {
  color: #363636;
}

a {
  color: black;
  text-decoration: none;
}

div.head-wrapper {
  padding: 10px 20px;
  border-bottom: 1px solid #000000;
  vertical-align: bottom;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

div.heelo {
  text-align: center;
}

.head-menu span{
  font-weight: lighter;
}

.post-block {
  cursor: pointer;
}
.post-list {
  margin: 0 auto;
  max-width: 80%;
}
.post-block-title {
  font-weight: bold;
  font-size: 1.3rem;
}
.post-block-title > span.post-block-time {
  padding-left: 10px;
  font-weight: lighter;
  font-size: 0.7rem;
  color: darkgray;
}
.post-pagination-wrapper {
  display: flex;
  justify-content: center;
}
.page-pagination-btn {
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration-line: underline;
}
.page-pagination-btn-active {
  font-weight: bold;
  background-color: rgba(0,0,0,0.2);
}
.page-pagination-btn:hover {
  background-color: rgba(0,0,0,0.1);
}
.post-wrapper {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-wrapper > .post-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid darkgray;
}
.post-wrapper > .post-header > .post-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.post-wrapper > .post-header > .post-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-size: .8rem;
  color: darkgray;
}
.post-wrapper > .post-body {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid darkgray;
}
.post-wrapper > .post-body > .post-contents {
  max-width: 80ch;
}

.post-wrapper > .post-body > .post-contents img {
  width:100%;
  object-fit:contain;
}

.create-post-wrapper {
  display: flex;
  flex-direction: column;
}
.create-post-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;

}
.create-post-bar-title {
  flex-grow: 1;
  height: 100%;
}
.create-post-input {
  flex-grow: 11;
  height: 100%;
}
.create-post-input input{
  height: 100%;
  width: 100%;
}
.create-post-input textarea {
  width: 100%;
}
.create-post-box {
  display: flex;
  width: 100%;
}
.create-post-btn {
  display: flex;
  justify-content: flex-end;
}
.create-post-btn button{
  padding: 5px 10px;
}
.admin-back-btn {
  display: flex;
  justify-content: flex-end;
}
.admin-back-btn > span {
  cursor: pointer;
}
.admin-back-btn > span:hover {
  text-decoration-line: underline;
}

.tooltip-link{
  position: relative;
}
.tooltip-link[data-tooltip]:not([data-tooltip=""])::before {
  content: attr(data-tooltip);
  position: absolute;
  font-size: 0.8rem;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 7px 5px;
  border-radius: 10px;
  width: 20ch;
  text-align: center;
  left: -230%;
  top: 120%;
  opacity: 0;
  transition: all 0.5s linear;
}
.tooltip-link[data-tooltip]:not([data-tooltip=""])::after {
  content: '';
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgba(0,0,0,0.5);
  width: 0;
  height: 0;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.5s linear;
}
.tooltip-link:hover[data-tooltip]:not([data-tooltip=""])::before
, .tooltip-link:hover[data-tooltip]:not([data-tooltip=""])::after {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  html,
  body {
    max-width: calc(100% - var(--actions-width, 30px));
  }

  p {
    line-height: 1.5em;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    /*color-scheme: dark;*/
  }
  body {
    /*color: white;*/
    /*background: #202b38;*/
  }

  h1,
  h2,
  h3 {
    /*color: #fff;*/
  }

  p,
  dl {
    /*color: #dbdbdb;*/
  }

  a {
    /*color: #41adff;*/
    /*text-decoration: none;*/
  }

  .head-wrapper {
    /*border-bottom: 1px solid #eaeaea;*/
  }
}